{% extends "base.html" %}

{% block content %}
    <script src="{% load static %}{% static 'generic.js' %}"></script>
    <div class="header"> Countries </div>

    <div class="clear"></div>
    <div class="list">
        {% if items %}
            {% for item in items %}
                <div class="list-item">
                    {{ item }} 
                    <input type="checkbox" data-id="{{ item.pk }}"
                        {% if item.visited %} checked="checked" {% endif %} 
                    />
                </div>
            {% endfor %}
        {% else %}
            <span class="empty-list-identifier">No countries are visible for you yet, sorry... :(</span>
        {% endif %}
    </div>
{% endblock %}