{% extends "base.html" %}

{% block content %}
    <div class="header">{{ destination_name }}</div>
    <div class="subtitle">/ Country information / </div>
    <div class="list">
        <div class="list-item">Country: {{ name }}</div>
        <div class="list-item">Region, continent: {{ subregion }}, {{ region }}</div>
        <div class="list-item">Capital city: {{ capital }}</div>
        <div class="list-item">Currencies: {% for item in currencies %}{{ item }} {% endfor %}</div>
        <div class="list-item">Languages: {% for item in languages %}{{ item }} {% endfor %}</div>
        <div class="list-item">Population: {{ population }}</div>
        <a href={{wiki}} class="list-item">{{ wiki }}</a>
    </div>
{% endblock %}